<h3>我的課程列表</h3>
<p>
  <%= link_to "開課囉", new_tutorial_path %>
</p>
<table>
<% @tutorials.each do |tutorial| %>
  <tr>
    <td>
      <%= link_to tutorial.title, tutorial %>
    </td>
    <td>
      <%= link_to "編輯", edit_tutorial_path(tutorial) %>
    </td>
    <td>
      <%= link_to "刪除", tutorial_path(tutorial), method: 'delete', data: {confirm: "確定刪除 #{tutorial.title} ?"} %>
    </td>
  </tr>
<% end %>

</table>